.--withCart {
    padding-right: 400px;
}

.homeComponent__heading {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.homeComponent__heading h1 {
    width: 50vw;
}

.homeComponent__products-list {
    display: flex;
    flex-wrap: wrap;
}

.homeComponent__products-li {
    list-style: none;
}

.homeComponent__cart.homeComponent__cart {
    position: fixed;
    top: 40px;
    right: 450px;
}

@media only screen and (max-width: 540px) {
    .--withCart {
        padding-right: 0;
    }

    .homeComponent__products-list {
        padding: 0;
    }

    .homeComponent__cart.homeComponent__cart {
        right: 16px;
    }

    .homeComponent__products-li {
        width: 100%;
        margin-bottom: 20px;
    }

    .homeComponent__heading h1 {
        width: 70vw;
    }
}
