.homeComponent__heading {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.homeComponent__products-list {
  display: flex;
  flex-wrap: wrap;
}

.homeComponent__products-li {
  list-style: none;
}
