.cartComponent {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    transform: translateX(0);
    z-index: 100;
    background-color: white;
    width: 400px;
}

.cartComponent__header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid;
}

.cartComponent__header span {
    margin: auto;
    font-size: 24px;
}

.cartComponent__content {
    min-height: 200px;
    padding: 24px;
}

.cartComponent__content ol {
    padding: 0;
}

.cartComponent__content li {
    list-style: none;
}

.cartComponent__empty {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    font-size: 24px;
}

.cartComponent__actions {
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
